html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;

  display: flex;
  justify-content: center;   /* căn giữa ngang */
  align-items: center;       /* căn giữa dọc */
}

canvas {
  display: block;            /* để không bị khoảng trắng lạ */
}
