html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;

  display: flex;
  justify-content: center;   /* canh ngang */
  align-items: center;       /* canh dọc */
}

/* Canvas: luôn thu nhỏ để thấy hết poster, ở giữa màn hình */
canvas {
  max-width: 40vw;   /* poster chỉ chiếm ~40% chiều ngang màn hình */
  max-height: 80vh;  /* và tối đa 80% chiều cao */
  width: auto;
  height: auto;
  display: block;
}
