html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  max-height: 90vh;
  max-width: 90vw;
  width: auto;
  height: auto;
  display: block;
}
