html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
  display: flex;
  justify-content: center;  /* căn giữa ngang */
  align-items: center;      /* căn giữa dọc */
}

canvas {
  max-height: 90vh;   /* poster cao tối đa = 90% màn hình */
  width: auto;
  height: auto;
  display: block;
}
