html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;   /* căn giữa ngang */
  align-items: center;       /* căn giữa dọc */
}

/* ƯU TIÊN FIT THEO CHIỀU CAO để mobile nhìn thấy hết poster */
canvas {
  height: 90vh;      /* luôn cao ≈ 90% chiều cao màn hình */
  width: auto;       /* tự tính chiều ngang theo tỉ lệ */
  max-width: 90vw;   /* nhưng không rộng quá 90% màn hình */
  display: block;
}
